body {
    display: flex;
    flex:1;
    flex-shrink: 0;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}

.main {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #1F2937;
    color: white;
    margin: 0%;
    padding-left: 200px;
    padding-right: 200px;
    flex: 1;
    display: flex;

}

.header {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    background-color: #1F2937;
    color: #e5e5e5;
    

}
.right-links a {
    display: block;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 8px;
    color: #F9FAF8;
    
}

.right-links a:hover {
    background-color: palevioletred;
    color: #1F2937;
}
.top {
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    color: #F9FAF8;
    flex:1;
    padding-right: 100px;
    padding-bottom: 200px;
    background-color: #1F2937;


}

.button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 0%;
    margin-bottom: 120px;
}

#picture {
    display: inline;
    margin-left: 0;

}

.title {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.container {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin: 0%;
    padding: 0%;
}
.section {
    max-width: 200px;
    position:initial;
}


img {
    border-radius: 8px;   
}


.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
   


}

.text1 {
    display: flex;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
    background: color #e5e5e5;
    margin: 150px;
    
}

.container2 {
    display: inline-block;
    flex-wrap: wrap;
    background-color: #3882F6;
    color: white;
    margin-bottom: 60px;
    margin-left: 120px;
    margin-right: 120px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom:20px;
    border-radius: 8px;
}

.text2 {

}

.button2 {
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    border: 2px solid white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
   
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 5px;

}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    display: inline-block;
}